
body
{
    background: url("images/Frost.jpg") no-repeat fixed;    
    color: white;
    background-size: cover;
}
.container
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    height: 70vh;
}
.image
{
    margin-left: 2px;
    height:200px;
    width: 45%;
}